.MuiImageList-root{
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    overflow: hidden;
    
}

 .MuiImageListItem-img{
    width: 500px;
    height: 250px;
}
 
.list-img{
    object-fit: contain !important;
    margin:2%;
    padding: 10%;
    height: 400px !important;
}

.list-item-bar{
    
    width: 100%;
    padding:1%;
    text-align: center;
}

