
.MuiImageList-root{
    margin-top: 100px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: grid;
    overflow: hidden;
    
}

 .MuiImageListItem-img{
    width: 500px;
    height: 250px;
}
 
.list-img{
    object-fit: contain !important;
    margin:2%;
    padding: 10%;
    height: 500px !important;
}

.list-item-bar{
margin:2.5%;
}