.user-card{
    display: flex;
    flex-direction: row;
    border-style: solid;
    
    margin-left: 2.5%;
    margin-right: 2.5%;
    }

.user-card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-img{
    border-radius: 100%;
    width: 250px;
    margin: 25px 25px 25px 25px;
    border: 2px solid rgb(80, 162, 182,0.5); 
}