.profile-page{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
   text-align: center;
   margin-top: 100px;
   margin-left: 2.5%;
}

section{
    margin-top: 25px;
    margin-bottom: 25px;
}

.profile-update-page{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    
    align-items: center;

    width: 100vw;
    height: 100vh;
}
.update-btn{
    margin: 10px;
    padding: 5px 40px;
}